# Development environment
.idea
dist
__pycache__
.pytest_cache
.tox

# Tests coverage
htmlcov
.coverage
coverage.readable
.coverage*

# Runtime
cryton_core/uploads
jobs.sqlite
uploads

site/

# Other
examples/metasploitable3-example/.vagrant
