version: '3.9'
services:
  cryton_cli:
    image: cryton-cli
    build:
      dockerfile: Dockerfile-cli
    environment:
      CRYTON_CLI_DEBUG: true

  cryton_worker:
    image: cryton-worker-kali
    build:
      dockerfile: Dockerfile-worker
    environment:
      CRYTON_WORKER_DEBUG: true

  cryton_hive:
    image: cryton-hive
    build:
      dockerfile: Dockerfile-hive
    environment:
      CRYTON_HIVE_DEBUG: true

  cryton_api_proxy:
    image: cryton-api-proxy
    build:
      dockerfile: Dockerfile-api-proxy