site_name: Cryton toolset
site_url: https://cryton.gitlab-pages.ics.muni.cz/cryton/
repo_url: https://gitlab.ics.muni.cz/cryton

theme:
  name: material
  locale: en
  custom_dir: docs/.overrides
  palette:
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

  features:
    - content.tabs.link # Linked code tabs
    - content.code.copy # Code copy button
    - navigation.tracking # Anchor tracking
    - navigation.top # Back-to-top button
    - navigation.instant  # Instant loading
    - navigation.instant.progress  # Show progress when loading a new page
    - navigation.indexes  # Index pages for sections
    - navigation.footer  # Next/Previous page shortcut in the footer
    - search.highlight # Highlight searched terms
    - toc.follow  # Anchor following (the right navigation)

extra:
  version:
    provider: mike

markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
  - admonition
  - pymdownx.details
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.extra

plugins:
  - search:
      lang: en
  - macros:
      j2_block_start_string: "{{{%"
      j2_block_end_string: "%}}}"
      j2_variable_start_string: "{{{"
      j2_variable_end_string: "}}}"
      include_yaml:
        - docs/.variables.yml
      on_error_fail: true
  - include-markdown:
      opening_tag: "{!"
      closing_tag: "!}"
  - mike:
      alias_type: redirect
      canonical_version: latest

nav:
  - Introduction: index.md
  - Architecture: architecture.md
  - Quick-start: quick-start.md
  - Execution example: execution-example.md
  - Installation: installation.md
  - Usage:
      - usage/index.md
      - Workflows: usage/workflows.md
  - Settings: settings.md
  - Creating a scenario:
      - design-phase/index.md  # Would be worth to possibly reword this as it's too long and hard to read
      - Plan: design-phase/plan.md
      - Stage: design-phase/stage.md
      - Step: design-phase/step.md
  - Running a scenario:
      - execution-phase/index.md  # TODO: update
      - Execution statistics: execution-phase/execution.md  # TODO: update
      - Reporting: execution-phase/reporting.md  # TODO: update
      - Dynamic execution: execution-phase/dynamic-execution.md  # TODO: re-think
  - Interfaces:
      - interfaces/index.md
      - CLI: interfaces/cli.md
      - Frontend: interfaces/frontend.md  # TODO: update
      - REST API: interfaces/rest-api.md  # TODO: update
  - Modules:
      - modules/index.md
      - Atomic Red Team: modules/list/atomic-red-team.md
      - Command: modules/list/command.md
      - Empire: modules/list/empire.md
      - FFUF: modules/list/ffuf.md
      - Medusa: modules/list/medusa.md
      - Metasploit: modules/list/metasploit.md
      - Nmap: modules/list/nmap.md
      - Script: modules/list/script.md
      - WPScan: modules/list/wpscan.md
  - Playground: playground.md
  - How to contribute: contribution-guide.md
  - Development:
      - development/index.md
      - Modules: development/modules.md
      - Front-end: development/frontend.md
#  - Production: production.md  # TODO: re-think
  - Logging: logging.md  # TODO: update
  - Ansible: ansible/ansible.md  # TODO: update
  - Acknowledgements: acknowledgements.md
  - License: license.md
